body{
  margin: 0;
  padding: 0;
  background-image: url('dino.jpg');
  background-size: cover;
}

div.container-fluid > div.row > div.map{
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.2);

    margin : 5px 5px 0px 0px;
}
